@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --font-normalFont: "Montserrat", sans-serif;
  --font-strike: "Protest Strike", sans-serif;
  --font-cursive: "Edu NSW ACT Cursive", cursive;
}
