@import "tailwindcss";

@theme {
  --font-normalFont: "Montserrat", sans-serif;
  --font-strike: "Protest Strike", sans-serif;
  --font-cursive: "Edu NSW ACT Cursive", cursive;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  @apply appearance-none;
}

input[type=number] {
  -moz-appearance: textfield;
}